PORT=3005

DB_HOST=localhost
DB_PORT=3306
DB_NAME=hackathon
DB_USER=root
DB_PASS=root

CLAUDE_API_KEY=your_api_key_here

SHUTTERSTOCK_CLIENT_ID=j6nmi740WfGnqGh4tN3QpJ7bcqJDcOdV
SHUTTERSTOCK_CLIENT_SECRET=4JRnFAjrzUQYD2MI